@page "/"

<PageTitle>WH Fantasy Combat</PageTitle>

<h1>Wybierz opcję poniżej aby dołączyć do walki</h1>

<MudButton Variant="Variant.Filled" Color="Color.Primary" href="combat">Gracz</MudButton>
<MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="true">[WIP] Game Master</MudButton>

